/* CSS file */
@font-face {
   src:local("Calibri");
   fontFamily: GishaEmbedded;
}
@font-face {
   src:local("Calibri");
   fontFamily: GishaEmbedded;
   fontWeight: bold;
}

Application{

	fontFamily: GishaEmbedded;
	font-size :14;
	/*backgroundGradientColors: #dddddd, #919191;
	backgroundGradientColors: #68c2d1, #549ca8;
	background-color: #108b81;*/
}
TitleWindow {
cornerRadius: 0;
	modalTransparency:.08;
  modalTransparencyBlur: 0;
  modalTransparencyColor: #000000;
	backgroundAlpha: 0.88;
	
}

.appbar 
{
   highlightAlphas: 0.29, 0.11;
   fillAlphas: 0.19, 0.39;
   fillColors: #000000 , #ffffff;
   backgroundColor: #F3FFDF;
   /* 
   	Standard fleVI green: 90B480
   	Very nice dark grey: 262625
    Old other: 99cc66 , 163b6b, 4C8A4E, F0A324
   */
   backgroundAlpha: 0.38;
   cornerRadius: 0;
   dropShadowColor: #000000;
   drop-shadow-enabled: true;
   shadowDistance: 2;
    
}
.appbar1{
	highlightAlphas: 0.29, 0.11;
   fillAlphas: 0.19, 0.39;
   fillColors: #000000 , #ffffff; 

   backgroundColor: #000000;
   /* 
   	Standard fleVI green: 90B480
   	Very nice dark grey: 262625
    Old other: 99cc66 , 163b6b, 4C8A4E, F0A324
   */
   backgroundAlpha: .3;
   cornerRadius: 0;
   dropShadowColor: #000000;
   drop-shadow-enabled: true;
   shadowDistance: 2;
}
	

.dockButton {
     skin: ClassReference(null);
     upSkin: ClassReference(null);
     overSkin: ClassReference("mx.skins.halo.ButtonSkin");
     downSkin: ClassReference("mx.skins.halo.ButtonSkin");
     disabledSkin: ClassReference("mx.skins.halo.ButtonSkin");
     cornerRadius: 1;
     padding: 2;
       
}
.topbar {
	background-color: #6ecddd;	
	/*background-image:Embed("pattern28c.png");
	background-size:"100%"; */

}

.fseTree {

	/*backgroundColor: #837B678;*/
	backgroundAlpha: 1;
	rollOverColor: #c7c7c7;
	borderStyle: solid;
	borderColor: #A29A88;
	borderAlpha: .80;


	selectionColor: #90bdda;
	indentation: 10;
	verticalScrollBarStyleName: "fseVerticalScrollBar";
	horizontalScrollBarStyleName: "fseVerticalScrollBar";
}

.drawerButton {

   fontSize: 12;
   textAlign: left;
   fillAlphas: 1.0, 1.0;
   fillColors: #111111, #999999,  #333333, #AAAAAA;
   color: #FFFFFF;
   textRollOverColor: #FFFFFF;
}

.drawerAccordion {
   borderColor: #CCCCCC;
   borderThickness: 2;
   headerStyleName: drawerAccordionHeader;
}

.drawerAccordionHeader {
   fillAlphas: 1.0, 1.0, 0.82, 0.82;
   fillColors: #111111, #999999, #333333, #AAAAAA;
/*   fillColors:#2588D1, #015194, #015194, #015194;*/
   color: #FFFFFF;
   cornerRadius: 0;
   paddingLeft: 10;

   fontSize: 12;
}

.drawerCloseRight {
  up-skin:Embed(source="assets/close.png");
  over-skin:Embed(source="assets/close.png");
  down-skin:Embed(source="assets/close.png");
  disabled-skin:Embed(source="assets/close.png");
}

.drawerCloseLeft {
  up-skin:Embed(source="assets/closeaccordion2.png");
  over-skin:Embed(source="assets/closeaccordion2.png");
  down-skin:Embed(source="assets/closeaccordion2.png");
  disabled-skin:Embed(source="assets/closeaccordion2.png");
}

